.menu{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: inherit;
    box-sizing: border-box;
    align-items:center;
    width:fit-content;
}

.top-side{
    display: flex;
    gap:20px;
    justify-content: space-between;
    flex-direction: column;
}
.logo{
    margin-top: 30px;
    padding-left: 12px;
}
.logo img{
    width:120px;

}
.threads ,
.more{
    display: flex;
    gap: 20px;
    align-items: center;
    padding:4px 20px 4px 8px;
    box-sizing: border-box;
    position:relative;
}

.threads:hover ,
.more:hover{
    background-color: rgba(236, 236, 236, 0.784);
    border-radius: 8px;
}

.threads p,
.more p{
    font-size: 14px;

}

.threads span,
.more span{
    font-size: 25px;
    position: relative;
    top: 4px;
}

.instagram-icon-logo{
    display:none
}

.bottom-side{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 4px;
}
@media screen and (max-width: 750px) {
    .threads p,
    .more p{
        display:none
    }
    .logo img{
        display:none
    
    }

    .instagram-icon-logo{
        display:block;
        font-size: 25px;     
        color:black;
        
    }
    a {
        color:black
    }
    .logo{
        margin-top: 30px;
        padding-left:0px;
        align-self:flex-start
    }


  }


  @media screen and (max-width: 650px) {
    .menu{
        display: flex;
        flex-direction: row;
        height: inherit;
        width:100%
    }
    .logo{
       display:none
    }

    .threads{
        display:none
    }
    .top-side {
        gap: 0px;
    }
   
  }



