.explor-side{
    display: flex;
    width: 100%;
    justify-content: center;
}


.group-item-explor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
}


@media screen and (max-width: 850px) {
    .group-item-explor{
        width: 80%;
    }
  }

  @media screen and (max-width: 550px) {
    .group-item-explor{
        width: 100%;
    }
  }