.user-image{
    border-radius: 100%;
    width:60px;
    height: 60px;
    object-fit: cover;
}
.user-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    width: 100%;
    box-sizing: border-box;

}
.user-information{
    display: flex;
    gap:12px;
    align-items: center;

}
.user{
    margin: 0;
}

.user-name{
    font-size: 14px;
    margin: 0;

}

.switch{
    background:none;
    border: none;
    color: rgb(0, 179, 255);
    font-weight: 550;
    font-size: 12px;
}
