.highlight-item{
    display:flex;
    flex-direction: column;
    align-items: center;

}

.gradient-highlight img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: linear-gradient(45deg, #e1e1e1 5%, #cac9c8 15%, #ececec 30%, #cac9c8 45%, #e3e3e3 70%, #cac9c8 80%, #cac9c8 95%);
    object-fit:cover;
	overflow: hidden; 

    border: 4px solid transparent;

}

.highlight-title{
    margin-top: 8px;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
}