.post-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    border-bottom: 2px solid rgb(203, 203, 203);
    position:relative;
    margin-bottom:12px
}

.flex{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}


.time{
    font-size: 24px;
    color: rgb(167, 167, 167);
    

}
.flex-caption{
    display: flex;
    gap: 12px;
    align-items: center;
}

.flex-caption h4{
    font-weight: 600;
}

.profile-img{
    width: 35px;
    height: 35px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 100%;
}

.post-img img{
    width: 100%;
    border: 2px solid rgb(167, 167, 167);
    overflow: hidden;
    border-radius: 4px;
}

.setting-icon{
    font-size: 25px;
}

.heart-icon ,
.comment-icon,
.send-icon ,
.mark-icon {
    font-size: 30px;
 
}

.likes{
    font-weight: 600;
}

.comments ,
.add-comment input::placeholder,
.emoji-icon{
 color: rgb(139, 139, 139);
}

.add-comment input{
    border: none;
    outline: none;
}

.name{
    font-size: 14px;
    font-weight:500 ;
    color: rgb(28, 28, 28);
}