.highlight {
    display: flex;
    padding: 0rem 1em ;
    align-items: center;
    justify-content: center;
    width:  80%;
}

.slider1 {
    width: 100%;
}

.slider2 {
    display:none
}

.slider3 {
    display:none
}

.slider1 button {
    border-radius: 100%;
    background-color: #a1a1a1; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.slider1 button:hover {
    background-color: #999; 
}

.slider1 button:active {
    background-color: #666; 
}

@media screen and (max-width: 800px ) {
    .highlight {
        padding-left: 1em;
        width: 100%;
    }

    .slider1 {
        display: none;
        
    }
    .slider2 {
        display: block; 
        width: 100%; 
    }
    .slider3 {
        display: none; 
    }

  }

@media screen and (max-width: 550px) {
    .highlight {
        padding-left: 1em;
        width: 100%;
    }

    .slider1 button {
        visibility: hidden;
        
    }

    .slider1 {
        display: none;
        
    }
    .slider2 {
        display: none;  
    }
    .slider3 {
        display: block; 
        width: 100%;

    }
  }

  